<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Actors</title>
</head>
<body>
<h1>Actors page</h1>
<form method="post" action="/actors">
    <label for="firstName">First name:</label>
    <input id="firstName" name="firstName" placeholder="Example: Antonio">
    <label for="lastName">Last name:</label>
    <input id="lastName" name="lastName" placeholder="Example: Banderas">
    <button onclick="addActor(
        document.getElementById('firstName').value,
        document.getElementById('lastName').value)">Add Actor
    </button>
</form>
<h1>Actors</h1>
<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <#list actors as actor>
        <tr>
            <td>${actor.id}</td>
            <td>${actor.firstName}</td>
            <td>${actor.lastName}</td>
        </tr>
    </#list>
</table>
</body>
</html>