<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Films</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        table {
            width: 30%;
            border-collapse: collapse;
            text-align: center;
            margin: 30px auto 30px 1cm;
        }

        th,
        td {
            padding: 5px;
            border: 1px solid #666;
            margin-left: 20px;
        }

        input[type=file] {
            width: 30%;
            margin-left: 1cm;
        }

        input[type=submit] {
            width: 30%;
            margin-left: 1cm;
        }

        input[type=text] {
            width: 30%;
            padding: 12px 20px;
            margin-left: 1cm;
            box-sizing: border-box;
            border: 2px solid red;
            border-radius: 4px;
        }

        img {
            border: 1px solid #ddd;
            display: inline;
            margin-left: 1cm;
        }

        label {
            margin-left: 1cm;
        }

        h1, h2 {
            margin-left: 1cm;
        }
        </style>
</head>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/films">Movies</a></li>
                <li class="active"><a href="/">List of users</a></li>
                <li class="active"><a href="/signIn">Sign In</a></li>
                <li class="active"><a href="/signUp">Sign Up</a></li>
                <li class="active"><a href="/logout">Sign Out</a></li>
            </ul>
        </div>
    </nav>
<script>
    function addFilm(name) {
        let body = {
            "name": name,
        };

        let request = new XMLHttpRequest();

        request.open('POST', '/films', false);
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("${_csrf.headerName}", "${_csrf.token}");
        request.send(JSON.stringify(body));

        if (request.status !== 201) {
            alert("Ошибка!")
        } else {
            let html = '<tr>' +
                '<th>Id</th>' +
                '<th>Name</th>' +
                '</tr>';


            let response = JSON.parse(request.response);

            for (let i = 0; i < response.length; i++) {
                html += '<tr>';
                html += '<td>' + response[i]['id'] + '</td>';
                html += '<td>' + response[i]['name'] + '</td>';
                html += '</tr>'
            }

            document.getElementById('film_table').innerHTML = html;
        }

    }
</script>
<body>
<h1>FREEMARKER FILMS PAGE</h1>
<div>
    <label for="name">Name:</label>
    <input id="name" name="name" placeholder="Example: Avatar"/>
    <button onclick="addFilm(
        document.getElementById('name').value)">Add
    </button>
</div>
<div>
    <table id="film_table">

    </table>
</div>
<h2>LIST OF FILMS</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <#list films as film>
        <tr>
            <td>${film.id}</td>
            <td>${film.name}</td>
        </tr>
    </#list>
</table>
</body>
</html>